<section *ngIf="pet">
    <section>
        <h2> You selected: {{ pet.name }}</h2>
    <p>
        {{ pet.name }} is a {{ pet.type }} and is {{ pet.age }} years old.
    </p>
    </section>
    <section>
        <form (ngSubmit)="saveData()" #petForm="ngForm">
            <div>
                <label for="name">Name: </label>
                <input 
                type="text" 
                name="name"
                required
                [(ngModel)]="pet.name" #name="ngModel"/>
                <div [hidden]="name.valid || name.pristine" class="error">
                    Name is required my good sir/lady!
                </div>
                <label for="age">Age: </label>
                <input 
                type="number" 
                name="age"
                [(ngModel)]="pet.age"
                min=0/>
            </div>
            <button type="submit" [disabled]="!petForm.form.valid">Save</button>
        </form>
    </section>
    <section>
        <form [formGroup]="animalForm" (submit)="saveReactive()">
            <input type="text" formControlName="name"/>
            <input type="text" formControlName="type"/>
            <input type="number" formControlName="age"/>
            <div *ngIf="animalForm.get('name').errors">
                Opps!
            </div>
            <button type="submit">Save</button>
        </form>
    </section>
</section>
<button (click)="goBack()">Go back!</button>
