input.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
  }
  
  // invalid
  input.ng-invalid {
    border-left: 5px solid #a94442; /* red */
  }

  .error{
    padding: 12px;
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
  }